* {-moz-box-sizing: border-box; box-sizing: border-box;}

body
{
    position: relative;
    text-align: center;
    background-color: antiquewhite;
    font-family: Nunito Sans;
    color: #5f5f63;
    padding-bottom: 20em;
    display : table;
	  width: 100%;
}

html, body {
	height: 130%;
	margin: 0; padding: 0;
}

h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: black;
}

p
{
    padding: 10px;
    color: grey;
}

nav ul
{
    list-style-type: none;
    margin-right: 10%;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
    color: #222328;
    margin-right: 40px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

a:link, a:visited { 
  color: (internal value);
  text-decoration: underline;
  cursor: auto;
}

a:link:active, a:visited:active { 
  color: (internal value);
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}